<% provide(:title, "Contact") %>
<body>
  <h1>Contact</h1>
  <ul>
    <li>You can reach me via email <a href="mailto:webmaster@example.com">here</a>.</li>
    <li>See my other work on <a href="https://github.com/jlvgit/">Github</a></li>
    <li>Or follow me on Twitter @jlvcoding</li>

  </ul>

</body>
